.list-table {
  min-width: 100%;
  margin: auto;
  border-collapse: collapse;
}

.list-table td {
  font-size: 12px;
  padding: 8px 10px;
  text-align: left;
}

.list-table tr {
  border-top: 1px solid #4A5378;
  background-color: #404970;
  color: #bbc1dd;
  margin-top: 5px;
  margin-bottom: 5px;
}

.list-table tr:hover {
  background-color: #39405E;
  color: white;
}

.list-table th {
  padding: 15px 10px;
  background-color: #313b66;
  color: white;
  text-align: left;
}

.list-table th:hover {
  background-color: #313b66;
  color: white;
}

.delete-btn {
  margin: 0;
  border: none;
  color: #bbc1dd;
  cursor: pointer;
}

.delete-btn:hover {
  color: red;
}
