.list-wrapper {
  max-height: 500px;
  overflow-y: scroll;
  border: 1px solid gray;
}

.delete-btn {
  padding: 1px 3px;
  border-radius: 10px;
  border: 2px solid red;
  color: red;
  background-color: white;
  line-height: 14px;
}

.delete-btn:hover {
  color: white;
  background-color: red;
}
