<new-vehicle *ngIf='newVehicleModal' (close)='closeModal()' (create)='addVehicle($event)'></new-vehicle>
<div>
  <table class='list-table'>
    <tr>
      <th> Make </th>
      <th> Model </th>
      <th> Year </th>
      <th></th>
    </tr>
    <tr *ngFor='let vehicle of vehicles | orderByName: order | filter: searchQuery'>
      <td>{{vehicle.make}}</td>
      <td>{{vehicle.model}}</td>
      <td>{{vehicle.year}}</td>
      <td>
        <p class='delete-btn'(click)='deleteVehicle(vehicle)'>
          <i class="fa fa-times" aria-hidden="true"></i>
        </p>
      </td>
    </tr>
  </table>
</div>
